@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}



/* Section Stuff */
section {
	height: 100vh;
}

#two {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar Stuff */
.affix {
    padding: 0;
    background-color: #111;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-nav a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-dark .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
	color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
    display: flex;
    justify-content: center;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 20px;
	line-height: 1;
    border-color: white;
    border-radius: 10px;
	/* background: #fff; */
    
}

/* Media query section */

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

* {
	font-family: 'Montserrat', sans-serif;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
    /* Makes caption go higher */
	/* bottom: 220px; */
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: darkorange;
	padding: 10px 30px;
	display: inline-block;
	color: #000;
	margin-top: 15px;
}

@media only screen and (max-width: 990px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		/* bottom: 500px; */
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}

/* Footer */
footer {
    margin: auto;
    padding-top: 20;
    background-color: white;
}
footer a {
    padding: 20px;
    color: white;
}

.color-black {
    padding-top: 10px;
    color:#000000;
    font-weight: 500;
    font-size: medium;
}

.bg-2{
    background: url("https://media.cntraveler.com/photos/5a99b5c520dfb6552425ecc8/2:1/w_2560%2Cc_limit/san-francisco_GettyImages-600366840.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed; /*Makes sure background stays in place*/
    background-color: black; /*Replace extra bg color to black instead of white*/
}
/* Second section */
